   <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="../css/css.css">
    <script>

    function loadXMLDoc() {
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
        myFunction(this);
        }
    };
    xmlhttp.open("GET", "../clubRendering.xml", true);
    xmlhttp.send();
    }
    function myFunction(xml) {
    var i;
    var xmlDoc = xml.responseXML;
    var table="<tr><th>Club Name</th><th> Description </th></tr>";
    var x = xmlDoc.getElementsByTagName("cd");
    const container =document.getElementsByClassName("container");
    var content='<ul class="list-group">';
    for (i = 0; i <x.length; i++) {
      
          content += '<li class="list-group-item ">'
            +'<a href="eventone.html" data-toggle="tooltip" title="Register Now!" >'
            + '<h5>'+ x[i].getElementsByTagName("clubName")[0].childNodes[0].nodeValue +'</h5>'
            + '<table cellpadding=10px>'
                
            +    '<tr>'
            +        '<td>'
            +            '<img src=' + x[i].getElementsByTagName("poster")[0].childNodes[0].nodeValue + '  width="100px" height="100px">'
             +'       </td>'
                +    '<td>'
                 +   '<p>' + x[i].getElementsByTagName("Description")[0].childNodes[0].nodeValue +'</p>'     
                  +'  </td>'
                
                +'</tr>'
            +'</table>'
            +'</a>'
            +'</li>';


    }
    content+="</ul>";
    document.getElementById("demo").innerHTML = content;
    }
      function includeHTML() {
        var z, i, elmnt, file, xhttp;
        /*loop through a collection of all HTML elements:*/
        z = document.getElementsByTagName("*");
        for (i = 0; i < z.length; i++) {
          elmnt = z[i];
          /*search for elements with a certain atrribute:*/
          file = elmnt.getAttribute("w3-include-html");
          if (file) {
            /*make an HTTP request using the attribute value as the file name:*/
            xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
              if (this.readyState == 4) {
                if (this.status == 200) {elmnt.innerHTML = this.responseText;}
                if (this.status == 404) {elmnt.innerHTML = "Page not found.";}
                /*remove the attribute, and call this function once more:*/
                elmnt.removeAttribute("w3-include-html");
                includeHTML();
              }
            }      
            xhttp.open("GET", file, true);
            xhttp.send();
            /*exit the function:*/
            return;
          }
        }
      };
      </script>
  </head>
  <body>
    <div class="start-body">
      <div w3-include-html="Navbar.html"></div>
        <br>
    <div class="page-heading"> 
        <h1>Club Activities</h1>
    </div>
    <br><br>
    <div  class="container"><div id="demo"></div></div>
  <script>
    loadXMLDoc();
    includeHTML();
    
</script>
</body>
</html>